*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(197, 195, 195);
    width: 400px;
    height: auto;
    border-radius: 40px;
    /* box-shadow: 5px 0 0 5px rgb(121, 120, 120, 0.2); */
}
input{
    margin-left: 60px;
    padding: 5px 20px;
}
h2{
    padding: 50px;
    padding-bottom: 30px;
    margin-left: 70px;
}
button{
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    background-color: beige;
}
ul{
    margin-left: 50px;
    list-style: none;
    padding: 10px 0px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 5px 15px;
    margin-bottom: 10px;
    color: balck;
    border: 1px solid grey;
    border-radius: 10px;
}
.del-btn{
    padding: 5px 20px;
    color: black;
    background-color: rgb(238, 123, 123);
}
.edit-btn{
    padding: 5px 20px;
    color: black;
    background-color: rgb(173, 238, 123);
}