*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(196, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80%;
    width: 50%;
    background-color: grey;
    border-radius: 40px;
}
#title{
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 50px;
}
#inp{
      margin-left: 30%;
      padding: 5px 10px;
      border-radius: 5px;
}
#btn{
    padding: 5px 20px;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin-left: 50px;
}
li{
   margin: 10px; 
}