*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.child{
    border: 2px solid green;
    height: 100px;
    width: 100px;
}
.container{
    height: 90%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;
    align-content: start; */
}
#c1{
    /* order: 1; default- 0 */
    /* flex-grow: 3; default- 0 */

}
#c2{
    /* order: 2; */
    /* flex-grow: 3; */
    /* flex-shrink: 4; */
    /* flex-basis: 2; */
    /* align-self: center; */
    justify-self: center;
}