*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.grandparent{
    /* position: relative; */
    margin: 100px;
    border: 2px solid blue;
    height: 300%;
    width: 90%;
}
.parent{
    position: relative;
    margin: 100px;
    border: 2px solid red;
    height: 400px;
    width: 500px;
}
.child{
    /* position: absolute; */
    /* position: fixed; */
    position: sticky;
    top: 20px;
    border: 2px solid green;
    height: 20%;
    width: 20%;
}
