body{
    height: 50vh;
    width: 100vw;
    font-size: 20px;
}
.parent{
    border: 1px solid red;
    height: 50%;
    /* background-color: red; */
    font-size: 20px;
}
.child{
    border: 1px dashed #ffa500;
    height: 100%;
    width: 50%;
    /* background-color: green; */
    font-size: 2rem;
}